$black: #222222;
$gray: #5F6368;
$white: #ffffff;

$bg-color: #F8F9FA;
$btn-bg-color: #4954E2;
$input-bg-color: #EBF0FC;
$modal-bg-color: rgba(17, 50, 85, 0.49);

$btn-bg-hover: #2b38e7;
$danger-btn-bg-hover: #f12a1c;

$error-color: #F44336;
$success-color: #61C294;
$warning-color: #FFC212;


